::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    position: relative;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    height: calc(100vh - 154px);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.left_menu {
    height: 100%;
    width: 20%;
    border-right: 1px solid #000;
}

.gallery {
    position: relative;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.scroll_item {
    width: 100%;
    z-index: 1000;
}

.image {
    height: 50%;
    position: fixed;
    display: none;
    bottom: 50px;
    left: 37.5%;
}

.image.visible {
    display: block;
}

.image_text {
    position: absolute;
    bottom: 30px;
    right: 15%;
}

.image_title {
    position: absolute;
    top: 39%;
    left: 4%;
}

footer {
    height: 50px;
}