::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

body {
    font-family: 'Oswald', sans-serif;
}

.gallery {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1500px;
            perspective: 1500px;
}

.image_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vmax;
    margin-left: 2.5vmax;
    position: fixed;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-backface-visibility: hidden;
}

.scrolling_dot {
    background-image: url('./assets/images/empty_circle.svg');
    width:10px;
}

.title_image {
    width: 20%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
    opacity: 1;
    display: block;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.image_container .main_image,
.image_container iframe,
#player {
    width:45%;
}

.main_image {
    width: 100%;
}

.image_text {
    width: 35%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0px 0 3px 0;
    padding-left: 20px;
    line-height: 1.2;
}

@keyframes hide {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show {
    0% {
        visibility: visible;
        opacity: 0
    } 100% {
        opacity: 1;
    }
}

.hidden {
    animation: hide 1s forwards;
}

.show {
    animation: show 1s forwards;
}

.hide {
    display: none;
}