.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene {
    position: absolute;
    left: 0;
    top: calc(50% - 125px);
    width: 100vw;
    height: 250px;
    margin: 0;
    perspective: 2500px;
    transform-style: preserve-3d;
}

.group {
    position: absolute;

}

.group > div {
    position: absolute;
}

.left {
    left: 0%;
}

.center {
    left:40%;
}

.group img {
    width: 350px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hovered {
    width: 375px;
    transition: all 0.5s ease;
}

.text {
    position: absolute;
    bottom: -25px;
}

.left .text {
    right: 0;
}

.center .text {
    left: 0;
}

.center .six .text {
    left: 0;
    right: 0;
    text-align: right;
}

.close_button {
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    color: white;
}

.clicked .close_button {
    display: block;
    cursor: pointer;
}

/*
    Repositioning everything so image fits screen
    on image click when active
*/
.scene.normal {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.scene.normal > .group {
    left: 0;
    top: 0;
    transition: all 0.5s ease;
}

.normal {
    transform: none !important;
    transition: all 0.5s ease;
}

.normal > img {
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
}