body {
    perspective: 2500px;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 100vw;
    height: 20vh;
    margin: 0;
    perspective: 2500px;
    transform-style: preserve-3d;
}

.group {
    position: absolute;
    transform-style: preserve-3d;
}

.group > div {
    position: absolute;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group img {
    width: 45vw;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.text {
    position: absolute;
    bottom: -20px;
    line-height: 0.95;
}

.four .text {
    bottom: -35px;
}

.left .text {
    right: 0;
    font-size: 22px;
    bottom: -25px;
}

.center .text {
    left: 0;
}

.center .six .text {
    left: 0;
    right: 0;
    text-align: right;
}

.close_button {
    display: none;
    position: absolute;
    top: 5vh;
    right: 18vw;
    color: white;
    background-color: #00000029;
    padding: 5px 10px;
    border-radius: 10px;
}

.clicked .close_button {
    display: block;
    cursor: pointer;
}

/*
    Repositioning everything so image fits screen
    on image click when active
*/
.scene.normal {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.scene.normal > .group {
    left: 0;
    top: 0;
    transition: all 0.5s ease;
}

.normal {
    transform: none !important;
    transition: all 0.5s ease;
}

.normal > img {
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
}