* { box-sizing: border-box; }

html {
    overflow: hidden;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    perspective: 2500px;
}

img.logo {
    padding: 15px;
    height: 100px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}