* { box-sizing: border-box; }

html {
    overflow: hidden;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    perspective: 2500px;
}

img.logo {
    padding: 15px;
    height: 100px;
}

.wrapper {
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
}

.scene {
    position: relative;
    width: 100vw;
    height: 250px;
    margin: 0;
    perspective: 2500px;
    transform-style: preserve-3d;
}

.group {
    position: absolute;

}

.group > div {
    position: absolute;
}

.left {
    left: 0%;
}

.center {
    left:40%;
}

.right {
    right: 10%;
}

.one {
    transform: translateZ(0px) rotateY(25deg);
}

.two {
    transform: translateX(100px) translateZ(-300px) rotateY(25deg);
}

.three {
    transform: translateX(200px) translateZ(-600px) rotateY(25deg);
}

.four {
    transform: translateX(0px) translateZ(200px) rotateY(25deg);
}

.five {
    transform: translateX(250px) translateZ(200px) rotateY(25deg);
}

.six {
    transform: translateX(-300px) rotateY(-45deg);
}

.image {
    width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hovered {
    width: 375px;
    height: 265px;
    transition: all 0.5s ease;
}

.one .image {
    background-image: url('./assets/images/foto1.jpg');
}

.two .image {
    background-image: url('./assets/images/foto2.jpg');
}

.three .image {
    background-image: url('./assets/images/foto3.jpg');
}

.four .image {
    background-image: url('./assets/images/foto4.jpg');
}

.five .image {
    background-image: url('./assets/images/foto5.jpg');
}

.six .image {
    background-image: url('./assets/images/foto6.jpg');
}

.text {
    position: absolute;
    bottom: -25px;
}

.left .text {
    right: 0;
}

.right .text,
.center .text {
    left: 0;
}