::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.content {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.left,
.right {
    width: 50%;
}

.left {
    transform-style: preserve-3d;
}

.left .top,
.left .bottom {
    width: 100%;
    display: flex;
}

.left .bottom {
    width: 45%;
}

.right {
    transform-style: preserve-3d;
}

.image_container {
    width:100%;
    margin: 0px 10px;
    opacity: 1;
    transition: opacity 0.2s ease;
    cursor: pointer;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.close.hidden {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.left img {
    width: 200%;
}

img {
    width: 100%;
}

.hidden {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.active .close {
    display: block;
}

.highlite {
    position:absolute;
    width: 70vw;
    left: 15vw;
}