.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.left,
.right {
    width: 50%;
}

.left {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.left .top,
.left .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.left .bottom {
    width: 45%;
}

.right {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.image_container {
    width:100%;
    margin: 0px 10px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    cursor: pointer;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.close.hidden {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.left img {
    width: 200%;
}

img {
    width: 100%;
}

.hidden {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.active .close {
    display: block;
}

.highlite {
    position:absolute;
    width: 70vw;
    left: 15vw;
}