::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.content {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.left,
.right {
    width: 50%;
    height:100%;
}

.left {
    transform-style: preserve-3d;
    transform: rotateY(35deg) translateX(55px) translateZ(-10px) translateY(75px);
}

.left .top,
.left .bottom {
    width: 60%;
    display: flex;
}

.left .top {

}

.left .top img:last-of-type {
    transform: translateY(30px) translateX(20px);
}

.left .bottom {
    transform: translateZ(145px) translateY(-15px) translateX(110px);
    width: 45%;
}

.right {
    transform: rotateY(-45deg) translateX(160px) translateY(90px);
    transform-style: preserve-3d;
}

.right .top,
.right .bottom {
    width: 60%;
    display: flex;
}

.right .top {
    transform: translateZ(-25px);
}

.right .bottom {
    transform: translateX(-120px) translateY(-25px) translateZ(25px);
}

img {
    width:100%;
    margin: 0px 10px;
}

footer {
    height: 50px;
}